.main-page {
    padding-top: 200px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/index_sector/bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
    max-width: 1600px;
    margin: auto;

}

.main-page-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);

    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}