 :root {
     --primary-font: 'Roboto', sans-serif;
     --secondary-font: 'Raleway', sans-serif;
     --accent-color: #2196F3;
     --main-color: #212121;
     --secondary-color: #FFFFFF;
     --subcolor: #757575;
 }